final.json
[
    {
        "id": "0db769f5d8d5e736",
        "type": "tab",
        "label": "HTTP Rest API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d09ade4ad78d32f",
        "type": "mqtt in",
        "z": "0db769f5d8d5e736",
        "name": "",
        "topic": "deepstream",
        "qos": "2",
        "datatype": "auto",
        "broker": "17e802767b1fca24",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "88a566ac6242dd0c",
                "6014ba516fcc0955"
            ]
        ]
    },
    {
        "id": "5610ef6d980e7199",
        "type": "http request",
        "z": "0db769f5d8d5e736",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fourshapes.azurewebsites.net",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {},
        "x": 1350,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4d95f6cf6a7774b0",
        "type": "inject",
        "z": "0db769f5d8d5e736",
        "name": "Circle 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Circle 1 Heart 0 Square 4 Triangle 0",
        "payloadType": "str",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "87368803ca1f92cf"
            ]
        ]
    },
    {
        "id": "87368803ca1f92cf",
        "type": "mqtt out",
        "z": "0db769f5d8d5e736",
        "name": "",
        "topic": "deepstream",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17e802767b1fca24",
        "x": 470,
        "y": 660,
        "wires": []
    },
    {
        "id": "f65683b9831bcf69",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 60,
        "wires": []
    },
    {
        "id": "d949e31b432544ca",
        "type": "function",
        "z": "0db769f5d8d5e736",
        "name": "Initialize Flow Context",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"prevCircleCount\", );\nflow.set(\"prevHeartCount\", );\nflow.set(\"prevSquareCount\", );\nflow.set(\"prevTriangleCount\", );",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5b47868264c73b47",
        "type": "function",
        "z": "0db769f5d8d5e736",
        "name": "Function",
        "func": "let currCircle = msg.payload;\n//const availShapes = 4;\n\nlet objShapes = \n{\n  \"id\": 1,\n  \"currentAmt\": 0\n};\n\n\nif (flow.get(\"prevCircleCount\") != currCircle){\n    flow.set(\"prevCircleCount\", currCircle)\n    \n   // objShapes.restockAmt = currCircle;\n    objShapes.currentAmt = 4 - currCircle;\n    msg.payload = objShapes;\n return msg;\n}\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "f65683b9831bcf69",
                "5610ef6d980e7199"
            ]
        ]
    },
    {
        "id": "5891b6f967dbe40a",
        "type": "change",
        "z": "0db769f5d8d5e736",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.numCircle",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "449d3f285ac306ce"
            ]
        ]
    },
    {
        "id": "8e13b542d5c2e48b",
        "type": "smooth",
        "z": "0db769f5d8d5e736",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": true,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "b472d63ab5fc4226",
                "a0b7b228dfbd9e60"
            ]
        ]
    },
    {
        "id": "09c348cf33695506",
        "type": "function",
        "z": "0db769f5d8d5e736",
        "name": "Function",
        "func": "let message = msg.payload;\n\ntext = message.split(\" \");\nlet currCircle = parseInt(text[1]);\nlet currHeart = parseInt(text[3]);\nlet currSquare = parseInt(text[5]);\nlet currTriangle = parseInt(text[7]);\n\nlet objShapes = \n{\n  \"id\": 0,\n  \"currentAmt\": flow.get(\"prevCircleCount\")\n};\n\n\nif (flow.get(\"prevCircleCount\") != currCircle){\n    flow.set(\"prevCircleCount\", currCircle)\n    \n    objShapes.restockAmt = currCircle;\n    objShapes.currentAmt = 4 - currCircle;\nmsg.payload = objShapes;\n return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "88a566ac6242dd0c",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "Trevor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "ec11586234da59c3",
        "type": "inject",
        "z": "0db769f5d8d5e736",
        "name": "Circle 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Circle 2 Heart 1 Square 2 Triangle 3",
        "payloadType": "str",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "36622735f05572b1"
            ]
        ]
    },
    {
        "id": "36622735f05572b1",
        "type": "mqtt out",
        "z": "0db769f5d8d5e736",
        "name": "",
        "topic": "deepstream",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17e802767b1fca24",
        "x": 470,
        "y": 740,
        "wires": []
    },
    {
        "id": "449d3f285ac306ce",
        "type": "smooth",
        "z": "0db769f5d8d5e736",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": true,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "5b47868264c73b47",
                "65bb79af75d5d72b"
            ]
        ]
    },
    {
        "id": "65bb79af75d5d72b",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "Circle",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "1c414aba7797a3bd",
        "type": "http request",
        "z": "0db769f5d8d5e736",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fourshapes.azurewebsites.net/api/Shape/UpdateCurrentAmt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1250,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "196e67b9fe9c2798",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 240,
        "wires": []
    },
    {
        "id": "b472d63ab5fc4226",
        "type": "function",
        "z": "0db769f5d8d5e736",
        "name": "Function",
        "func": "let currSquare = msg.payload;\n//const availShapes = 4;\n\nlet objShapes = \n{\n  \"id\": 2,\n  \"currentAmt\": 0\n};\n\n\nif (flow.get(\"prevSquareCount\") != currSquare){\n    flow.set(\"prevSquareCount\", currSquare)\n    \n   // objShapes.restockAmt = currCircle;\n    objShapes.currentAmt = 4 - currSquare;\n    msg.payload = objShapes;\n return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 280,
        "wires": [
            [
                "196e67b9fe9c2798",
                "1c414aba7797a3bd"
            ]
        ]
    },
    {
        "id": "a9c8ab78c2b5a308",
        "type": "change",
        "z": "0db769f5d8d5e736",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.numSquare",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "8e13b542d5c2e48b"
            ]
        ]
    },
    {
        "id": "51871749840a527f",
        "type": "smooth",
        "z": "0db769f5d8d5e736",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": true,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "559aa2fdb014926f",
                "c4e835d78b3969d4"
            ]
        ]
    },
    {
        "id": "4c1aca69f116aea5",
        "type": "http request",
        "z": "0db769f5d8d5e736",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fourshapes.azurewebsites.net/api/Shape/UpdateCurrentAmt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1290,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6ce715edc5923f26",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "559aa2fdb014926f",
        "type": "function",
        "z": "0db769f5d8d5e736",
        "name": "Function",
        "func": "let currHeart = msg.payload;\n//const availShapes = 4;\n\nlet objShapes = \n{\n  \"id\": 3,\n  \"currentAmt\": 0\n};\n\n\nif (flow.get(\"prevHeartCount\") != currHeart){\n    flow.set(\"prevHeartCount\", currHeart)\n    \n   // objShapes.restockAmt = currCircle;\n    objShapes.currentAmt = 4 - currHeart;\n    msg.payload = objShapes;\n return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "6ce715edc5923f26",
                "4c1aca69f116aea5"
            ]
        ]
    },
    {
        "id": "b57b0baf0df9d4db",
        "type": "change",
        "z": "0db769f5d8d5e736",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.numHeart",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "51871749840a527f"
            ]
        ]
    },
    {
        "id": "73cfcea399afc5d6",
        "type": "smooth",
        "z": "0db769f5d8d5e736",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": true,
        "x": 820,
        "y": 560,
        "wires": [
            [
                "a3d08e44a298ac73",
                "402bd95cefce86fe"
            ]
        ]
    },
    {
        "id": "147d8eaa6af9085c",
        "type": "http request",
        "z": "0db769f5d8d5e736",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fourshapes.azurewebsites.net/api/Shape/UpdateCurrentAmt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1290,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b4303981e627b76f",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 520,
        "wires": []
    },
    {
        "id": "a3d08e44a298ac73",
        "type": "function",
        "z": "0db769f5d8d5e736",
        "name": "Function",
        "func": "let currTriangle = msg.payload;\n//const availShapes = 4;\n\nlet objShapes = \n{\n  \"id\": 4,\n  \"currentAmt\": 0\n};\n\n\nif (flow.get(\"prevTriangleCount\") != currTriangle){\n    flow.set(\"prevTriangleCount\", currTriangle)\n    \n   // objShapes.restockAmt = currCircle;\n    objShapes.currentAmt = 4 - currTriangle;\n    msg.payload = objShapes;\n return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 560,
        "wires": [
            [
                "b4303981e627b76f",
                "147d8eaa6af9085c"
            ]
        ]
    },
    {
        "id": "3f39d78c9982cb56",
        "type": "change",
        "z": "0db769f5d8d5e736",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.numTriangle",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "73cfcea399afc5d6"
            ]
        ]
    },
    {
        "id": "f25d14f9e797a380",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "Barry",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "6014ba516fcc0955",
        "type": "function",
        "z": "0db769f5d8d5e736",
        "name": "",
        "func": "let message = msg.payload;\n\ntext = message.split(\" \");\nlet numCircle = parseInt(text[1]);\nlet numHeart = parseInt(text[3]);\nlet numSquare = parseInt(text[5]);\nlet numTriangle = parseInt(text[7]);\n\nlet objShapes = \n{\n  \"numCircle\": numCircle,\n  \"numHeart\": numHeart, \n  \"numSquare\" : numSquare, \n   \"numTriangle\" : numTriangle\n};\n\nmsg.payload = objShapes;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "5891b6f967dbe40a",
                "a9c8ab78c2b5a308",
                "b57b0baf0df9d4db",
                "3f39d78c9982cb56"
            ]
        ]
    },
    {
        "id": "a0b7b228dfbd9e60",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "Square",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "c4e835d78b3969d4",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "Heart",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "402bd95cefce86fe",
        "type": "debug",
        "z": "0db769f5d8d5e736",
        "name": "Triangle",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 500,
        "wires": []
    },
    {
        "id": "17e802767b1fca24",
        "type": "mqtt-broker",
        "name": "JimMQTT",
        "broker": "192.168.1.19",
        "port": "1883",
        "clientid": "DeepstreamApp",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
